@import "../../../rwd/default/scss/var";

$avail-bullet: $c-link;
$avail-value: $c-link;
$footer-bg: #CCCCCC;
$footer-links-bg: #999999;
$f-stack-special: 'Helvetica Neue', Verdana, Arial, sans-serif;
$top-header-bg: #999999;
$button-top-color: #D25B4A;
$button-bottom-color: #B75042;
$home-block-price: $c-blue;